= form_with(model: event, local: true) do |form|
  .field-contener-plan
    .registration 予定追加
    .form-box-plan
      .form-box
        .form-group
          = form.label :タイトル
          = form.text_field :title, class: "title-text"
          .error_message
            = event.errors.full_messages_for(:title)[0]
        .form-group
          = form.label :内容
          = form.text_area :description, class: "text-field"
          .error_message
            = event.errors.full_messages_for(:description)[0]
        .form-group
          = form.label :開始予定時間
          %br/
          = form.datetime_select(:start_date, use_month_numbers: true, date_separator: "/")
        .form-group
          = form.label :終了予定時間
          %br/
          = form.datetime_select(:end_date, use_month_numbers: true, date_separator: "/")
        .actions
          = form.submit "追加", class: "next-btn"
        .top-page-link
          = link_to 'トップページへ戻る', events_path, class: "top-btn"
