.backimage-body
  = form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "form-body" }) do |f|
    .field-contener
      -# .registration ログイン
      .registration-form
        .title-box
          .title-name
            tsk-mgmt
          .title-exposition
            日々の進捗管理と日報管理を一つにしてみませんか？
          %i.far.fa-calendar-alt.fa-8x.clender
          %i.fas.fa-plus.fa-5x.plus
          %i.far.fa-clipboard.fa-8x.report
        .form-box
          .form-group
            = f.label :メールアドレス
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field", placeholder: "メールアドレスを入力してください"
          .form-group
            = f.label :パスワード
            = f.password_field :password, autocomplete: "current-password", class: "text-field", placeholder: "パスワードを入力してください"
          .actions
            = f.submit "ログイン", class: "next-btn"
          .new-user-actions
            アカウントをお持ちでない方はこちらから
            %a{ href: new_registration_path(resource_name), class:'new-user-btn' } 新規登録