.backimage-body
  = form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "form-body" }) do |f|
    .field-contener
      .registration-form
        .title-box
          = image_tag "logo.png", class: "title-bar"
          .title-exposition
            予定管理、メール管理をサポート
            %br
            お知らせ機能でメール見逃しを
            %span ゼロ
            へ
          %i.far.fa-calendar-alt.fa-8x.clender
          %i.fas.fa-plus.fa-5x.plus
          %i.fas.fa-8x.fa-bell.report
        .form-box
          .form-group
            = f.label :ニックネーム
            = f.text_field :name, autofocus: true, autocomplete: "name", class: "text-field", placeholder: "ニックネームを入力してください"
          .form-group
            = f.label :パスワード
            = f.password_field :password, autocomplete: "current-password", class: "text-field", placeholder: "パスワードを入力してください"
          .actions
            = f.submit "ログイン", class: "next-btn"
          .new-user-actions
            アカウントをお持ちでない方はこちらから
            %a{ href: new_registration_path(resource_name), class:'new-user-btn' } 新規登録