.backimage-body-report
  .form-body-report
    .field-contener-report
      .form-box-report
      .report-title
        メール作成
      = form_with model: @report, class: :form, local: true do |f|
        %label 宛先
        .chat-group-form__field--right
          .chat-group-form__search.clearfx
            %input#user-search-field.chat-group-form__input{:placeholder => "追加したいユーザー名を入力してください", :type => "text"}/
          #user-search-result

        .chat-group-form__field.clearfix
          .chat-group-form__field--right
            #chat-group-users.js-add-user
              .chat-group-user.clearfix.js-chat-member
                %input{name: "report[user_ids][]", type: "hidden", value: current_user.id}
                %p.chat-group-user__name= current_user.name
              - @report.users.each do |user|
                - if current_user.name != user.name
                  .chat-group-user.clearfix.js-chat-member
                    %input{name: "report[user_ids][]", type: "hidden", value: user.id}
                    %p.chat-group-user__name
                      = user.name
                    %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn
                      削除
        %label 題名
        = f.text_field :title, placeholder: :タイトルを入力してください, class: :form_title
        .error_message
          = @report.errors.full_messages_for(:title)[0]
        %label 本文
        = f.text_area :message, placeholder: :ブログ本文を入力してください, class: :form_text, 'data-provider': :summernote
        .error_message
          = @report.errors.full_messages_for(:message)[0]
        = f.submit '送信する', class: "send-btn"
