!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TskMgmt
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header-fixed
      .user_nav.header-box
        = link_to "/" do
          = image_tag "logo.png", class: "title-bar"
        - if user_signed_in?
          .user-name
            = current_user.name
          = link_to "ログアウト", destroy_user_session_path, class: "left-btn",method: :delete
          = link_to "日報送信", new_report_path, class: "report-post", "data-turbolinks": false
          = link_to "日報管理", reports_path, class: "report-mgmt"
          = link_to  "予定追加", new_event_path, class: "right-btn"
    = yield
